<a href="https://colab.research.google.com/github/tiockdrbs/tuto/blob/main/1%EA%B0%95_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EC%BD%94%EB%9E%A9%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Colab 기본 단축키
**ctrl + m + a : 현재 셀 위에 코드셀 하나 추가**

**ctrl + m + b : 현재 셀 아래에 코드셀 하나 추가**

**ctrl + m + m : 코드셀을 텍스트셀 변환**

**ctrl + m + y : 텍스트셀을 코드셀로 변환**

**ctrl + m + d : 현재 셀 삭제**

**ctrl + enter : 현재 셀을 실행하고 위치 그대로 유지**

**shift + enter : 현재 셀을 실행하고 아래에 코드셀을 하나 추가함**

## 작업공간 확인

In [ ]:
#현재 작업 위치를 확인함
%pwd

'/content/sample_data'

In [ ]:
#작업 위치를 변경함
%cd /content/sample_data/

/content/sample_data

In [ ]:
%ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

## 변수
**변수 : 값을 담는 주머니**

**할당 연산자 : 변수의 값을 할당시켜주는 연산을 의미하는 기호**

**할당 연산자의 종류에는 =이고, 그 외에 다양한 할당 연산자가 존재함**

In [ ]:
a=10
b=20

## 데이터 타입(자료형)
**수치형(Numeric)**

- 숫자로 이루어진 자료형
- int : 정수이며 integer의 약자
- float : 실수이며 floating의 약자
- 숫자끼리 연산이 가능

In [ ]:
a = 50
type(a)

int

In [ ]:
b = 50.5
type(b)

float

## 문자형 타입
- 문자로 이루어진 자료형
- "" 큰따옴표나 ''작은따옴표 사이에 문자를 넣어 표시
- 따옴표 사이에 수치형 데이터가 들어가면 문자형으로 취급함

In [2]:
a="1"
b="안녕"
print(a)

1

## Boolean 타입
- True, False의 값을 갖는 자료형
- None, 공백, 0인 경우에 False이고 이외의 값은 True
- 비교연산자, 논리연산자의 결과값으로 반환됨

In [ ]:
print(bool(1))

True

In [ ]:
print(bool(0))

False

In [ ]:
print(())

()

In [ ]:
print(bool(""))

False

In [ ]:
print(bool("안녕"))

True

In [ ]:
1 == 1

True

In [ ]:
1 == 0

False

In [ ]:
1!=1 # 같지 않다

False

In [ ]:
not 1 == 1 # 같지 않다

False

In [ ]:
1 == 1 and 1 == 2

False

In [ ]:
1 == 1 or 1 == 2

True

In [5]:
name=input()
age=int(input())

fk
30

In [6]:
type(age)

int

In [8]:
age=float(input())

50

In [10]:
print("저의 이름은 ...이고 나이는... 입니다.")

저의 이름은 ...이고 나이는... 입니다.

In [18]:
for i in range(1, 10):
  print(("------{}-------").format(i))
  for j in range(0, 10):
    print(i*j)

------1-------
0
1
2
3
4
5
6
7
8
9
------2-------
0
2
4
6
8
10
12
14
16
18
------3-------
0
3
6
9
12
15
18
21
24
27
------4-------
0
4
8
12
16
20
24
28
32
36
------5-------
0
5
10
15
20
25
30
35
40
45
------6-------
0
6
12
18
24
30
36
42
48
54
------7-------
0
7
14
21
28
35
42
49
56
63
------8-------
0
8
16
24
32
40
48
56
64
72
------9-------
0
9
18
27
36
45
54
63
72
81

In [24]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [28]:
sum=0
for i in range(1,11):
  sum+=2
  print(("i의 값 : {}, 합계 : {}").format(i, sum))

i의 값 : 1, 합계 : 2
i의 값 : 2, 합계 : 4
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 8
i의 값 : 5, 합계 : 10
i의 값 : 6, 합계 : 12
i의 값 : 7, 합계 : 14
i의 값 : 8, 합계 : 16
i의 값 : 9, 합계 : 18
i의 값 : 10, 합계 : 20