# 조건문

In [11]:
x=3
y=2
z=1

In [12]:
x>y

True

In [15]:
z>x

False

In [17]:
x==y

True

In [20]:
x!=y

False

In [21]:
x!=3

True

# if문

In [24]:
Test=100

if Test2>=80:
    print("합격")
else:
    print("불합격")

불합격

In [25]:
a=True
b=False

if a:
    print("Hi")
else:
    print('Bye')

Hi

In [10]:
if b:
    print("Hi")
else:
    print('Bye')

Bye

In [ ]:
if score >=90:
    print("A")
else:
    print("F")

In [26]:
score = int(input())

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif score >= 70 and score <= 79:
    print('C')
elif score >= 60 and score <= 69:
    print('D')
else:
    print('F')

2
F

# for문

In [37]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [38]:
result=[]
for i in range(0,20):
    result.append(i)

In [39]:
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
for a in range(1, 10):
    print(("--------{}단-------").format(a))
    for b in range(1, 10):
        print(a*b)

--------1단-------
1
2
3
4
5
6
7
8
9
--------2단-------
2
4
6
8
10
12
14
16
18
--------3단-------
3
6
9
12
15
18
21
24
27
--------4단-------
4
8
12
16
20
24
28
32
36
--------5단-------
5
10
15
20
25
30
35
40
45
--------6단-------
6
12
18
24
30
36
42
48
54
--------7단-------
7
14
21
28
35
42
49
56
63
--------8단-------
8
16
24
32
40
48
56
64
72
--------9단-------
9
18
27
36
45
54
63
72
81